:root{
    --primary-color: #d3ede0;
    --secondary-color: #69d5c3;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    
}
.back::-webkit-scrollbar{
    width: 6px;
}
.back::-webkit-scrollbar-track{
    background: var(--primary-color);
}
.back::-webkit-scroolbar-thumb{
    background: var(--secondary-color);
    border-style: solid;
    border-radius: 10px;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    width: 100vw;
}
body{
    /* background-color: #d3ede0; */
    width: 100%;
    overflow-x: hidden;
}
.container{
    width: 100%;
    /* height: 100vh; */
   
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #69d5c3; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #d3ede0; /* Add a dark-grey background on hover */
  }

/* .home{
    width: 100%;
    height: 50rem;
} */
.heading{
    width: 100%;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 900;
    top: 0;
    right: 0;
}
.heading img{
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: relative;
    top: 3rem;
}
.navbar{
    width: 100vw;
    height: 5rem;
   
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
    position: relative;
    top: 5rem;
   
}
.navbar a{
    height: 5rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    position: relative;
}
.navbar a::after{
    content: "";
    position: absolute;
    display: block;
    height: 1rem;
    width: 0%;
    background-color: var(--secondary-color);
    transition: all ease-in-out 500ms;
}
a:hover{
    color: rgb(255, 255, 255);
    background-color: var(--primary-color);
    
}
.navbar a:hover::after{
    width: 100%;
}

#landing{
    position: relative;
    /* top: 5rem; */
}

.landing{
    width: 100%;
    height: 80rem;
    background: url(images/s1.jpg);
    /* background-size: cover; */
    animation: slide 25s infinite;
    /* display: flex; */
    /* justify-content: space-around; */
    position: relative;
    /* top: 5rem; */
}
@keyframes slide {
    25%{
        background: url(images/s2.jpg);
        background-size: cover;
    }
    50%{
        background: url(images/s3.jpg);
        background-size: cover;
    }
    75%{
        background: url(images/s4.jpg);
        background-size: cover;
    }
    100%{
        background: url(images/s1.jpg);
        background-size: cover;
    }
    
    
}
/* #float-left{
   object-position: left top;    
}
.size{
    width: 200px;
    height: 200px;
}
#float-right{
    position: relative;
    left: 50%;
    top: 75%;
    object-position: right bottom;
} */

.card{
    width: 250px;
    height: 100px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 1.5s;
    z-index: 900;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front{
    background-color: var(--primary-color);
    transform: rotateY(0deg);
}
.back{
    background-color: var(--secondary-color);
    overflow-y: scroll;
    
    transform: rotateY(180deg);
}

.card:hover{
    height: 400px;
    transform: rotateY(180deg);
}
#offerings{
    position: relative;
    top: 0rem;
}

.offerings{
    width: 100%;
    height: 60rem;
    padding: 40px;
    margin: 4rem 0 4rem;
    /* top: 40rem; */
    position: relative;
    
}

.offerings-header{
    height: 15rem;
}
/* style list of prices */
.listStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    font-size: large;
}
/* make paragraph tag in prices smaller */
.listStyle .minimize{
    font-size: small;
}
/* container div for listStyle and minimize above */
.listPosition{
    position: relative;
    top: 20rem;
}
.offerings img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: relative;
}

.offerings h2{
    font-size: 8rem;
    text-align: center;
    font-weight: 200;
}
.offerings h3{
    color: white;
}
.offerings p{
    text-align: left;
    margin: 1rem;
    font-size: 1rem;
}
.offerings span{
    font-weight: bold;
    text-align: center;
}
.offerContainer{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
   
}
.offerContainer img{
    width: 50%;
    float: right;
}
.offerContainer p{
    width: 40%;
    font-size: large;
    padding-top: 4rem;
}
.addOnContainer{
    width: 100rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    margin: auto;
    
}
.addOnContainer p{
    font-size: 1.75rem;
}
.resizeJourney{
    width: 95%;
}

.flex-container{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards2{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
    width: 19%;
    height: 60rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   }
.cards2 img{
    width: 50%;
    }
.flex-container p{
    font-size: 2rem;
}
.border{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-size: large;
}
#wisdom{
    position: relative;
    top: 80rem;
}
.wisdom-content{
    width: 100%;
    height: 70rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4rem 0 4rem;
    position: relative;
    padding: 3rem;
    /* top: 120rem; */
}
.inner{
   width: 50%;
   height: 50%;
   background-color: white;
   position: relative;
   /* top: 8rem; */
   /* margin: auto; */
   border-radius: 30px;
   /* opacity: 0.8; */
   /* display: flex; */
}
.inner h1{
    font-size: 6rem;   
    text-align: center;
    /* margin-top: -20px; */
    padding-bottom: 5rem;
}
.inner h2{
    font-size: 2.5rem;
    text-align: center;
}
.inner h3{
    font-size: 1.5rem;
}
.inner p{
    font-size: 2rem;
}
.wisdom-content img{
    width: 50%;
    float: right;
    position: relative;
    top: 1rem;
}
.aboutContainer{
    background-color: #fff2eb;
    width: 100%;
    height: 100%;
}
.buttonStyle{
    width: 10rem;
    background-color: var(--secondary-color);
    margin-top: 10px;
}
span:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}
.aboutHeading{
    position: relative; 
    top: 5rem;
    right: 20rem;
    text-align: center;
    float: right;
    font-size: 1.5rem;
}
.top{
    width: 100vw;
    height: 113rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 20px solid black;
}
.top img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.toptext {
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    font-weight: 100;
    color: #a18e78;
    
}
.toptext h1{
    font-size: 5rem;
    font-style: italic;
    font-weight: 100;
    position: relative;
    top: -10rem;
    color: #a18e78;
}
.box{
    width: 30rem;
    height: 5rem;
    border: 4px solid white;
    margin: auto;
    position: relative;
    top: 10rem;
    font-size: 3rem;
    text-align: center;
}
.part2{
    width: 100vw;
    height: 50rem;
    position: relative;
    /* top: 10rem; */
    display: flex;
    justify-content: space-between;
}
.section-left{
    width: 50%;
    font-size: 2.5rem;
    margin: 50px;
}
.section-right{
    width: 50%;
    font-size: 2.5rem;
    margin-top: 5rem;
}
.part3{
    width: 100vw;
    height: 60rem;
    position: relative;
    top: 25rem;
    display: flex;
    justify-content: space-around;
}
.part4{
    width: 100vw;
    height: 60rem;
    position: relative;
    top: 40rem;
    display: flex;
    justify-content: space-around;
}
blockquote{
    width: 35%;
    position: relative;
    top: 60rem;
    display: flex;
    margin: auto;
}
blockquote p{
    padding: 15px;
    background: #a18e78;
    border-radius: 20px;
    margin: auto;
    font-size: 4rem;
    text-align: center;
}
.meet-content{
    width: 100%;
    height: 100rem;
    position: relative;
    top: 35rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.meet-content img{
    object-fit: contain;
    height: 100%;
}
#inspiration{
    position: relative;
    top: 125rem;
}
.inspiration{
    width: 100%;
    height: 80rem;
    font-size: large;
    position: relative;
    /* top: 35rem; */
    /* background-color: rgb(36, 54, 70); */
}
.innerText{
    width: 60%;
    margin: auto;
    position: relative;
    top: 10rem;
    height: 40%;
}
#resource{
    position: relative;
    top: 125rem;
}
.resource{
    width: 100%;
    height: 80rem;
    border: 2rem solid var(--secondary-color);
    border-radius: 40px;
    position: relative;
    /* top: 125rem; */

    /* background-color: rgb(156, 172, 186); */
}
#bloom{
    position: relative;
    top: 125rem;
}
.bloom{
    width: 100%;
    height: 80rem;
    display: flex;
    justify-content: center;
    position: relative;
    /* top: 125rem; */
    
    
    /* background-color: rgb(70, 36, 57); */
}
.float-image-left{
    position: relative;
    left: -64rem;
}
.bloom img{
    object-fit: contain;
    /* width: 180%; */
    height: 100%;
    float: right;
}
#contact{
    position: relative;
    top: 125rem;
}
.contact{
    margin: auto;
    width: 30%;
    height: 60rem;
    text-align: center;
    position: relative;
    /* top: 125rem; */
}
fieldset{
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px  #ccc;
    border-radius: 6px;
    min-width: 200px;
    background-color: var(--secondary-color);
}
legend{
    font-size: 3em;
    padding: 0 .25;
    color: #999;
    
}
input[type=text], input[type=email], input[type=tel]{
    padding: 10px;
    margin: 5px 0;
}

form{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.stlbtn{
    background-color: #333a4d;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#love{
    position: relative;
    top: 125rem;
}
.love{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: space-around;
    position: relative;
    /* top: 125rem; */
    /* background-color: rgb(70, 36, 57); */
}
.cards{
    width: 30rem;
    height: 40rem;
    background-color: white;
    filter: drop-shadow(16px 16px 16px);
}
.footer {
    width: 100%;
    height: 15rem;
    /* background-color: #69d5c3; */
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 125rem;
}
.footer a{
    font-size: 2rem;
    word-spacing: 1rem;
    position: relative;
    left: -10rem;
}
@media (max-width: 600px){}
